@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    height: 100vh;
    background: #9c835f;
    --index-nav-color: #724c21;
    --title-color: #f9b23d;
    --match-color: #bd0000;
    --selection-color: #c4c4c4;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

header{
    display: flex;
    padding: 2rem;
    align-items: center;
    height: 10vh;
}

header a{
    display: inline-block;
    font-size: 2.5rem;
    color: var(--index-nav-color);
    text-decoration: none;
}

header img{
    width: 50px;
    margin: 0 1.2rem;
}

header h1{
    font-size: 5vmin;
    color: var(--title-color);
}

.container{
    display: flex;
    width: 70%;
    height: 70vh;
    margin: 1rem auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.container h1{
    letter-spacing: 0.1em;
    padding: 1rem 0;
    font-size: 4vmin;
}

.container section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .selection{
    display: flex;
    justify-content: center;
    width: 21vmin;
    height: 20vmin;
    border-radius: 30px;
}

.selected{
    background: var(--selection-color);
}

.container img{
    max-width: 15vmin;
    max-height: 15vmin;
    align-self: center;
    transition: 200ms;
}

#user img:hover{
    cursor: pointer;
    transform: scale(120%);
}

.match{
    font-size: 8vmin;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--match-color);
    width: 30vmin;
    display: flex;
    justify-content: center;
}

.match #case1,
.match #case2,
.match #case3{
    max-height: 30vmin;
    max-width: 20vmin;
    transform: rotate(-30deg);
    border-radius: 30px;
}

.reset{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-70%, -30%);
}

.reset img{
    max-width: 8vh;
    cursor: pointer;
}

.reset img:hover{
    transform: rotate(90deg);
    transition: 200ms;
}