body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    background: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*NAVIGATION*/

header{
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-item{
    padding: 0 15px;
}

.navbar{
    margin-left: 15px;
}

/*END OF NAVIGATION*/

/*MAIN PAGE*/

.banner{
    margin-top: 18%;
    text-align: center;
}

.banner .container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.container h1{
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 3px;
    line-height: 80px;
}

.container h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
}

.container .btn{
    margin-top: 10px;
    width: 200px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: 0;
}

.container .btn a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: block;
    font-weight: 500;
}

.hero__scroll-btn{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}


.hero__scroll-btn:hover{
    color: white;
    opacity: 0.8;
}

.hero__scroll-btn .bi{
    margin-top: 10px;
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce{
    front{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

/*END OF MAIN PAGE*/


/*START OF ABOUT PAGE*/

.about{
    background: url(assets/the-games-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.about .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.about .container .carousel{
    padding: 50px;
    width: 900px;
}

.about .container .title{
    color: white;
}

.about .container h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about .container h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.features{
    background: url(assets/features.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.features .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 800px;
    float: right;
    margin-right: 50px;
    gap: 50px;
}

.features .container .title{
    color: white;
}

.features .container .steps{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.features .container .steps ul{
    list-style: none;
}

.steps ul{
    padding-left: 50px;
    position: relative;
}

.steps ul .lined{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.steps ul::after{
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 190px);
    left: 41px;
    top: 0;
    background-color: white;
    margin-top: 52px;
}

.steps ul li{
    padding: 30px 0;
    padding-left: 20px;
}

.steps ul .lined::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    left: 9mm;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}

.steps ul .not::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 9px;
    left: 9.8mm;
    margin-top: 10px;
    border-radius: 8px;
    outline-style: solid;
    color: white;
}



.features .container .steps p{
    color: white;
    font-size: 20px;
}

.features .container .steps li{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFB548;
}


.requirements{
    background: url(assets/requirements.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.requirements .content{
    position: absolute;
}

.requirements .content .title{
    margin-top: 20px;
}

.requirements .content .title h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 2px;
    
    color: #FFFFFF;
}

.requirements .info__title{
    margin-top: 5%;
    margin-left: 10%;

}

.requirements .info__title h1{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}

.requirements .content .container{
    margin-left: 9%;
    margin-top: 25px;
}

.requirements .container h3{
    color: #F3AF34;
}

.requirements .container p{
    color: white;
}



.requirements .col{
    border: 1px solid #252525;
    padding-top: 20px;
}

.requirements .row{
    width: 600px;
    height: 400px;
}

.topscore{
    background: url(assets/top-score-bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.topscore .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.topscore .title{
    margin-right: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.title button{
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
}

.topscore .feedback{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.evan, .jada, .aaron{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 452px;
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    gap: 5px;
}

.evan, .aaron{
    margin-left: 100px;
}

.evan{
    gap: 20px;
}

.feedback img{
    width: 50px;
}

.feedback p{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.feedback h1{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    letter-spacing: 2px;
    
    color: #FFB548;
}

.feedback h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    text-align: justify;
    
    color: #FFFFFF;
    
    opacity: 0.5;
}

.feedback img{
    border-radius: 30px;
}

.contact{
    background: url(assets/newsletter.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.contact .container{
    display: flex;
    height: calc(100vh - 150px);
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}

.contact .container .title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.title form{
    color: #979797;
    width: 400px;
}

form .form-control{
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    border: 0;
    color:#F3AF34;
}

.container .letter{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact .container img{
    width: 400px;
}

.letter button{
    height: 58px;
}

.contact .footer nav{
    display: flex;
    justify-content: center;
}

.contact .footer nav{
    text-decoration: none;
    list-style: none;
}

.contact .footer nav ul{
    border-bottom: 0.873968px solid #6e6c6c;
    padding-bottom: 20px;
    padding-right: 20px;
}

.contact .footer nav li{
    display: inline-block;
    padding: 0 20px;
}

.footer nav li a{
    text-decoration: none;
    color: white;
}

.footer .end-line{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 200px;
}

.footer .end-line p{
    color: white;
    opacity: 0.5;
}

.end-line li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    border-right: #6e6c6c 2px solid;
}



